html {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

#root {
    background-color: #15202b;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}