#banner {
    height: 14rem;
}

#banner .image {
    height: 100%;
}

#edit {
    height: 4.5rem;
    position: relative;

}
#edit i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    position: absolute;
    bottom: 15%;
    z-index: 1;
}